.header {
    background: url(../img/bg/bg1.jpg) no-repeat center bottom;
    background-attachment: fixed;
    background-size: cover;
    min-height: 400px;

    &__bg {
        position: sticky;
        top: 0;
        margin: 10px 0;
        padding: 10px 0;
        background-color: #c7c7c7;
        z-index: 99;
    }

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.logo {
    & span {
    }
}

.nav {
    & ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}
