.intro {
    background-image: url(../img/bg/bg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;

    margin: -162px 0 0;
    height: 700px;
    width: 100%;

    &__content {
        padding: 300px 0 0;
    }

    &__title {
        font-family: "Montserrat", Helvetica, Arial, sans-ser;
        font-weight: 800;
        font-size: 36px;
        line-height: 1.4;
        text-transform: uppercase;
        text-align: center;
        color: $secondary-color;
    }
}
